<mat-tab-group [(selectedIndex)]="tbidx" (selectedIndexChange)="onTabChange($event)" mat-stretch-tabs="false"
  mat-align-tabs="start" class="border-round bg-white"> <mat-tab>
    <ng-template mat-tab-label>
      <i class="bi bi-list-columns fs-5 blue p10"></i>
      Ads
    </ng-template>

    <!-- <div class="p10">
      <table>
        <tr>
          <td class="left" style="width: 150px;">
            <gho-dropdown label="Country" style="width:100%" [showclear]="true" (sharedValueChange)="getc($event)"
              [(sharedValue)]="cn" [options]="cntrys" [filter]="true" appearance="outline">
            </gho-dropdown>
          </td>

          <td class="left" style="width: 250px;">
            <gho-input label="Filter" [showclear]="true" [filter]="true" [(sharedValue)]="fltr"
              (keyup)="applyFilter($event)">
            </gho-input>
          </td>
        </tr>
      </table>
    </div> -->
    <div *ngIf="loading" style="display: flex; justify-content: center; align-items: center; padding: 20px;">
      <mat-spinner diameter="40"></mat-spinner>
    </div>
    <div *ngIf="!loading" class=" v100 p10 x-noscroll">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="Filename">
          <th mat-header-cell *matHeaderCellDef> FileName </th>

          <td mat-cell *matCellDef="let element">
            <div class="file-cell">

              <img [src]="element.ThumbnailUrl || 'icons/nophoto.svg'" class="avatar" alt="file" />
              <span>{{ element.Filename }}</span>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="Title">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let element">
            {{ element.Title || '-' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Subtitle">
          <th mat-header-cell *matHeaderCellDef> Subtitle </th>
          <td mat-cell *matCellDef="let element">
            {{ element.SubTitle || '-' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Type">
          <th mat-header-cell *matHeaderCellDef> Type </th>
          <td mat-cell *matCellDef="let element">
            {{ element.Type || '-' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element">
            {{ element.IsActive ? 'Active' : 'Inactive' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="warn" (click)="deleteAd(element, $event)">
             <i class="bi bi-trash delete-icon"></i>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;" (click)="selectAd(row)"
          [class.selected]="selectedAd?.AdID === row.AdID">
        </tr>
      </table>

      <mat-paginator #paginator [pageSize]="15" [length]="dataSource.data.length || 0" [pageSizeOptions]="[15, 25, 35]"
        showFirstLastButtons>
      </mat-paginator>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <i class="bi bi-plus-circle fs-5 p10"></i>
      Add Advertisements
    </ng-template>

    <div class="p20">

      <add-new *ngIf="tbidx === 1" [selectedId]="selectedAd?.AdID || null">
      </add-new>
    </div>

  </mat-tab>

</mat-tab-group>