.file-cell {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.delete-icon {
  color: #dc3c30; 
}

button{
  background-color: white;
  border: white;
}