<!-- Header -->
<div class="d-flex" (click)="goBack()" style="cursor:pointer">
    <mat-icon>arrow_back</mat-icon>
    <p class="fw-semibold">Back</p>
</div>

<section class="p-4">
    <h3 class="text-primary text-center">Privacy And Policy</h3>
    <p>
        At Global Health Opinion (GHO), we are committed to protecting your privacy and ensuring the security of your
        personal information.
        This Privacy Policy explains how we collect, use, disclose, and protect your information when you visit our
        website
        <span><a target="_blank" href="https://www.globalhealthopinion.com/">www.globalhealthopinion.com</a></span> and
        utilize our services.
        By accessing or using our services, you agree to the terms outlined in this policy.
    </p>
</section>
<hr>
<section class="p-4">
    <h3>Information We Collect</h3>
    <p>We may collect and process the following types of information:</p>

    <div>
        <ol>
            <li>Personal Information</li>
            <p>Identifiable Information: Name, email address, phone number, date of birth, and any other information you
                provide during registration or communication with us.
                Account Information: Usernames, passwords, and other login credentials.</p>
            <li>Health Information</li>
            <p>Any health-related information necessary for providing our services, including medical history, current
                health conditions, medications, and treatment plans.
                We treat this information as sensitive data and handle it with heightened confidentiality and security
                measures.</p>
            <li>Usage Data</li>
            <p>Information about how you access and interact with our website, including your IP address, browser type,
                device information, pages visited, and the time and date of your visits.</p>
            <li>Cookies and Tracking Technologies</li>
            <p>We use cookies and similar tracking technologies to improve user experience and analyze website traffic.
                Cookies are small data files stored on your device that enable us to remember your preferences and
                enhance your interaction with our services.</p>
        </ol>

    </div>
</section>
<hr>
<section class="p-4">
    <h4>How We Use Your Information</h4>
    <p> Facilitating your access to and use of our services, including scheduling consultations and processing payments.
    </p>
    <h5>To Provide and Maintain Our Services:</h5>
    <p>Sending notifications, confirmations, and updates regarding your appointments, as well as responding to inquiries
        and providing customer support.</p>
    <h5>To Communicate with You</h5>
    <p>Sending notifications, confirmations, and updates regarding your appointments, as well as responding to inquiries
        and providing customer support.
    </p>
    <h5>To Improve Our Services:</h5>
    <p>Analyzing usage patterns and feedback to enhance our offerings and user experience.</p>
    <h5>To Comply with Legal Obligations:</h5>
    <p>Adhering to applicable laws and regulations, including data privacy laws and healthcare regulations (like HIPAA),
        and ensuring the security of your information.</p>
</section>
<hr>

<!-- Disclosure of Your Information -->
<section class="p-4">
    <h3>Disclosure of Your Information</h3>
    <p>We may share your information in the following circumstances:

    </p>

    <div>
        <ol>
            <li>With Service Providers</li>
            <p>We may employ third-party service providers to perform functions on our behalf, such as payment
                processing, data analysis, email communication, and customer support.
                These third parties will have access to your personal information only to perform specific tasks and are
                obligated to protect it.</p>
            <li>For Legal Compliance</li>
            <p>We may disclose your information if required by law or in response to valid requests by public
                authorities (e.g., courts, government agencies).</p>
            <li>Business Transfers</li>
            <p>In the event of a merger, acquisition, or asset sale, your personal information may be transferred.
                We will notify you before your personal information becomes subject to a different privacy policy.</p>

        </ol>

    </div>
</section>
<hr>

<!-- Security of Your Information -->
<section class="p-4">
    <h4>Security of Your Information</h4>
    <p> The security of your personal information is of utmost importance to us. We implement a variety of safeguards,
        including:
    </p>
    <h5>Administrative Safeguards:</h5>
    <p>Access to personal information is restricted to authorized personnel who need it for their job functions.</p>
    <h5>Technical Safeguards:</h5>
    <p>We use encryption technologies to protect sensitive data during transmission and storage.
    </p>
    <h5>Physical Safeguards:</h5>
    <p>Our facilities are secured to prevent unauthorized access.
        However, please note that no method of transmission over the Internet or electronic storage is 100% secure.</p>

    <p>While we strive to protect your information, we cannot guarantee absolute security.</p>
</section>
<hr>

<!-- Your Rights and Choices -->
<section class="p-4">

    <h4>Your Rights and Choices</h4>
    <p> Depending on your location, you may have specific rights regarding your personal information, including:
    </p>
    <h5>Access:</h5>
    <p>Request copies of your personal data we hold.</p>
    <h5>Rectification:</h5>
    <p>Request corrections of any inaccurate or incomplete data.
    </p>
    <h5>Erasure:</h5>
    <p> Request the deletion of your personal information, subject to legal obligations to retain certain data.</p>
    <h5>Restriction of Processing:</h5>
    <p> Request that we limit the processing of your personal data under certain circumstances.</p>
    <h5>Data Portability: </h5>
    <p>Receive your data in a structured, commonly used, and machine-readable format.
        To exercise these rights, please contact us using the details provided below.</p>
</section>
<hr>
<section class="p-4">
    <h3>
        Third-Party Links</h3>
    <p>Our website may contain links to third-party websites not operated by us.
        We have no control over these sites and are not responsible for their content or privacy practices.
        We encourage you to review the privacy policy of any third-party site you visit.</p>
</section>
<hr>
<section class="p-4">
    <h3>
        Children's Privacy</h3>
    <p>Our services are not directed to individuals under the age of 18, and we do not knowingly collect personal
        information from children.
        If we become aware that we have collected personal information from a child under 18, we will take steps to
        delete such information immediately.</p>
</section>
<hr>

<section class="p-4">
    <h3>
        Changes to This Privacy Policy</h3>
    <p>We may update this Privacy Policy from time to time.
        Any changes will be posted on this page, and we will notify you of significant changes via email or through a
        notice on our website.
        Your continued use of our services after such changes constitutes your acceptance of the updated Privacy Policy.
    </p>
</section>
<hr>

<section class="p-4">
    <h3>
        Contact Information</h3>
    <p>If you have any questions or concerns regarding this Privacy Policy or our data practices, please contact us at:
        <span>Info@gho.care</span>
    </p>
</section>
<hr>

<section class="p-4">
    <p><span class="fw-bold">Global Health Opinion (GHO)</span> — Where healthcare innovation meets uncompromised
        privacy.</p>
</section>