.tenantImg {
  width: 140px;
}

.logo {
  width: 120px;
  height: 120px;
  object-fit: contain;
  background: #fff;
  border-radius: 10px;
  padding: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.tenant-container {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
}
.country-field {
  width: 150px; /* fixed small width */
}
.country-field2 {
  width: 100%; /* fixed small width */
}

.flex-1 {
  flex: 1; /* take remaining space */
}
.tenantImg {
  width: 140px;
  cursor: pointer;
  position: relative;
}

.logo {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.2s;
}

.tenantImg:hover .logo {
  opacity: 0.8;
}


.tenantUserHeading{
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 0px;
}
.actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 20px;
}
::ng-deep .compact-field .mat-mdc-text-field-wrapper {
  height: 36px !important;
}

::ng-deep .compact-field .mat-mdc-form-field-flex {
  height: 36px !important;
  align-items: center;
}

::ng-deep .compact-field .mat-mdc-form-field-infix {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}