<div class="tenant-container m-3">

    <div class="d-flex flex-column gap-3">

        <!-- Name -->
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Speciality Name *</mat-label>
            <input matInput [(ngModel)]="model.SpecialtyName" name="SpecialtyName">
        </mat-form-field>

        <!-- Type -->
        <!-- <mat-form-field appearance="outline" class="w-100">
            <mat-label>Speciality Type *</mat-label>

            <mat-select [(ngModel)]="model.SpecialtyType" name="SpecialtyType">

                <mat-option value="M">Main</mat-option>
                <mat-option value="E">Sub</mat-option>

            </mat-select>
        </mat-form-field> -->

        <!-- Description -->
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Description</mat-label>
            <textarea matInput rows="3" [(ngModel)]="model.Description" name="Description">
      </textarea>
        </mat-form-field>

        <!-- Rate -->
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Rate Amount *</mat-label>
            <input matInput type="number" [(ngModel)]="model.RateAmount" name="RateAmount">
        </mat-form-field>

        <!-- Buttons -->
        <div class="actions d-flex gap-2">
            <button *ngIf="isEditMode" mat-stroked-button type="button" (click)="deleteSpecialty()">
                Delete
            </button>

            <button *ngIf="!isEditMode" mat-stroked-button type="button" (click)="resetForm()">
                Clear
            </button>
            <button mat-raised-button color="primary" (click)="addSpecialty()"
                [disabled]="!model.SpecialtyName || !model.SpecialtyType">

                {{ isEditMode ? 'Update Speciality' : 'Add Speciality' }}

            </button>

        </div>

    </div>

</div>