<div>
    <app-calender
        [mode]="'range'"
        (dateSelected)="onDateChange($event)"
        (rangeSelected)="onRangeChange($event)">
    </app-calender>
</div>


<div class="py-4">

    <mat-tab-group [(selectedIndex)]="tbidx" (selectedIndexChange)="onTabChange($event)" mat-stretch-tabs="false"
        mat-align-tabs="start" class="border-round bg-white">

        <mat-tab>

            <ng-template mat-tab-label>
                <i class="bi bi-people fs-5 blue p10"></i>
                Login Users
            </ng-template>

            <div class="p10">
                <table>
                    <tr>
                        <td class="left">
                            <div class="d-flex gap-2">
                                <div>
                                    <gho-input label="Filter" [showclear]="true" [filter]="true" [(sharedValue)]="fltr"
                                        (keyup)="applyFilter($event)">
                                    </gho-input>
                                </div>

                        <td class="left">
                            <div>
                                <mat-form-field appearance="outline" class="full-width compact-field">
                                    <mat-label>Platform</mat-label>

                                    <mat-select [(ngModel)]="platform" (selectionChange)="loginlist()">
                                        <mat-option value="">
                                            All
                                        </mat-option>
                                        <mat-option value="mobile">
                                            Mobile
                                        </mat-option>
                                        <mat-option value="web">
                                            Web
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </td>

            </div>
            </td>

            </tr>
            </table>

</div>

<!-- Loader -->

<div *ngIf="loading" style="display: flex; justify-content: center; align-items: center; padding: 20px;">

    <mat-spinner diameter="40"></mat-spinner>

</div>

<!-- Table -->

<div *ngIf="!loading" class="v100 p10 x-noscroll">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z1 full-width-table">
        <ng-container matColumnDef="UserID">

            <th mat-header-cell *matHeaderCellDef>
                User ID
            </th>

            <td mat-cell *matCellDef="let element">
                {{ element.UserID }}
            </td>

        </ng-container>

        <ng-container matColumnDef="FullName">

            <th mat-header-cell *matHeaderCellDef>
                Full Name
            </th>

            <td mat-cell *matCellDef="let element">
                {{ element.FullName || '-' }}
            </td>

        </ng-container>

        <!-- Email -->

        <ng-container matColumnDef="Email">

            <th mat-header-cell *matHeaderCellDef>
                Email
            </th>

            <td mat-cell *matCellDef="let element">
                {{ element.Email || '-' }}
            </td>

        </ng-container>

        <!-- Phone -->

        <ng-container matColumnDef="Phone">

            <th mat-header-cell *matHeaderCellDef>
                Phone
            </th>

            <td mat-cell *matCellDef="let element">
                +{{ element.CountryCode }}
                {{ element.Phone }}
            </td>

        </ng-container>

        <!-- Last Login -->

        <ng-container matColumnDef="LastLoginTime">

            <th mat-header-cell *matHeaderCellDef>
                Last Login
            </th>

            <td mat-cell *matCellDef="let element">
                {{ element.LastLoginTime || '-' }}
            </td>

        </ng-container>

        <!-- User ID -->


        <ng-container matColumnDef="Source">

            <th mat-header-cell *matHeaderCellDef>
                Source
            </th>

            <td mat-cell *matCellDef="let element">
                {{ element.Source || '-' }}
            </td>

        </ng-container>

        <!-- Header Row -->

        <tr mat-header-row *matHeaderRowDef="columns">
        </tr>

        <!-- Data Row -->

        <tr mat-row *matRowDef="let row; columns: columns;">
        </tr>

    </table>

    <!-- Paginator -->

    <mat-paginator #paginator [pageSize]="15" [length]="dataSource.data.length || 0" [pageSizeOptions]="[15, 25, 35]"
        showFirstLastButtons>
    </mat-paginator>

</div>

</mat-tab>

</mat-tab-group>

</div>