.compact-field {
  width: 150px;
  margin-top: 18px;
}

.compact-field ::ng-deep .mat-mdc-text-field-wrapper {
  height: 36px;
}

.compact-field ::ng-deep .mat-mdc-form-field-flex {
  height: 36px;
  align-items: center;
}

.compact-field ::ng-deep .mat-mdc-select-trigger {
  height: 36px;
  align-items: center;
}

.compact-field ::ng-deep .mdc-notched-outline {
  height: 36px;
}