<div *ngIf="!loading" class="p10 border-round bg-white">

  <table mat-table [dataSource]="dataSource" multiTemplateDataRows>

    <!-- Full Name -->
    <ng-container matColumnDef="FirstName">
      <th mat-header-cell *matHeaderCellDef> Full Name </th>
      <td mat-cell *matCellDef="let element">
        {{ element.FirstName }} {{ element.LastName }}
      </td>
    </ng-container>

    <!-- Email -->
    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element">
        {{ element.Email }}
      </td>
    </ng-container>

    <!-- Phone -->
    <ng-container matColumnDef="Phone">
      <th mat-header-cell *matHeaderCellDef> Phone </th>
      <td mat-cell *matCellDef="let element">
        {{ element.Phone }}
      </td>
    </ng-container>

    <!--  Employee ID (FIXED) -->
    <ng-container matColumnDef="EmployeId">
      <th mat-header-cell *matHeaderCellDef> Employee ID </th>
      <td mat-cell *matCellDef="let element">
        {{ element.EmployeId || '-' }}
      </td>
    </ng-container>

    <!-- Role -->
    <ng-container matColumnDef="Role">
      <th mat-header-cell *matHeaderCellDef> Role </th>
      <td mat-cell *matCellDef="let element">
        {{ element.Role }}
      </td>
    </ng-container>

    <!-- Status -->
    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element">
        {{ element.Status }}
      </td>
    </ng-container>

    <!-- Expanded -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let row" [attr.colspan]="columns.length">

       <div class="expanded-box" *ngIf="expandedRow === row">

          <div><b>Tenant ID:</b> {{ row.TenantID }}</div>
          <div><b>User Name:</b> {{ row.FirstName }} {{ row.LastName }}</div>
          <div><b>Employee ID:</b> {{ row.EmployeId }}</div>
          <div><b>Role:</b> {{ row.Role }}</div>
          <div><b>Phone:</b> {{ row.Phone }}</div>
          <div><b>Email:</b> {{ row.Email }}</div>
          <div><b>Country ID:</b> {{ row.CountryID || '-' }}</div>
          <div><b>Status:</b> {{ row.Status }}</div>
          <div><b>Phone:</b> {{ row.Phone }}</div>

          <div class="d-flex justify-content-end p-2 gap-3">
            <button class="btn btn-danger px-4 fw-semibold" (click)="deleteTenant(row, $event)">
                Delete
            </button>
            <button class="btn btn-primary px-4 fw-semibold" >
                Update
            </button>
        </div>

        </div>

      </td>
    </ng-container>

    <!-- Header -->
    <tr mat-header-row *matHeaderRowDef="columns"></tr>

    <!-- Row -->
    <tr mat-row
        *matRowDef="let row; columns: columns"
        (click)="toggleRow(row)">
    </tr>

    <!-- Expanded Row -->
<tr mat-row
    *matRowDef="let row; columns: ['expandedDetail']"
    class="expanded-row">
</tr>

  </table>

</div>