<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="border-round bg-white" [(selectedIndex)]="tbidx">
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="bi bi-list-columns fs-5 blue p10"></i>
      Tenants
    </ng-template>

    <div class="p10">
      <table>
        <tr>
          <td class="left" style="width: 150px;">
            <gho-dropdown label="Country" style="width:100%" [showclear]="true" (sharedValueChange)="getc($event)"
              [(sharedValue)]="cn" [options]="cntrys" [filter]="true" appearance="outline">
            </gho-dropdown>
          </td>

          <td class="left" style="width: 250px;">
            <gho-input label="Filter" [showclear]="true" [filter]="true" [(sharedValue)]="fltr"
              (keyup)="applyFilter($event)">
            </gho-input>
          </td>
        </tr>
      </table>
    </div>
    <div *ngIf="loading" style="display: flex; justify-content: center; align-items: center; padding: 20px;">
      <mat-spinner diameter="40"></mat-spinner>
    </div>
    <div *ngIf="!loading" class=" v100 p10 x-noscroll">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element">
            {{ element.TenantName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Location">
          <th mat-header-cell *matHeaderCellDef> Location </th>
          <td mat-cell *matCellDef="let element">
            {{ element.Location || '-' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Address">
          <th mat-header-cell *matHeaderCellDef> Address </th>
          <td mat-cell *matCellDef="let element">
            {{ element.Address || '-' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Phone">
          <th mat-header-cell *matHeaderCellDef> Phone </th>
          <td mat-cell *matCellDef="let element">
            {{ element.Phone || '-' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Type">
          <th mat-header-cell *matHeaderCellDef> Type </th>
          <td mat-cell *matCellDef="let element">
            {{ element.Type || '-' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element">
            {{ element.IsActive ? 'Active' : 'Inactive' }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;" (click)="selectTenant(row)"
          [class.selected]="selectedTenant?.id === row.id">
        </tr>
      </table>

      <mat-paginator #paginator [pageSize]="15" [length]="dataSource.data.length || 0" [pageSizeOptions]="[15, 25, 35]"
        showFirstLastButtons>
      </mat-paginator>
    </div>
  </mat-tab>

  <mat-tab [disabled]="!detailsTabEnabled">
    <ng-template mat-tab-label>
      <i class="bi bi-hospital fs-5 p10"></i>
      Tenant Details
    </ng-template>

    <div>
      <tenant-details [tenant]="selectedTenant"></tenant-details>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <i class="bi bi-plus-circle fs-5 p10"></i>
      Add Tenant
    </ng-template>

    <div class="p20">

      <add-tenant></add-tenant>
    </div>

  </mat-tab>

</mat-tab-group>