<mat-tab-group 
  [(selectedIndex)]="selectedTabIndex"
  mat-stretch-tabs="false" 
  mat-align-tabs="start" 
  class="border-round bg-white">

  <!-- TAB 1: AVAILABLE SPECIALITY -->
  <mat-tab label="Available Speciality">
    <div class="p15">

      <!-- Search -->
      <div class="mb-3" style="width: 250px;">
        <gho-input 
          label="Search" 
          [showclear]="true" 
          [filter]="true" 
          [(sharedValue)]="searchText"
          (sharedValueChange)="applyFilter()">
        </gho-input>
      </div>

      <!-- Table -->
      <div class="table-container mat-elevation-z2">
        <table mat-table [dataSource]="filteredSpecialties" class="w-100">

          <ng-container matColumnDef="SpecialtyName">
            <th mat-header-cell *matHeaderCellDef>
              Specialities
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.SpecialtyName }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['SpecialtyName']"></tr>

          <!-- 🔥 Row Click -->
          <tr mat-row 
              *matRowDef="let row; columns: ['SpecialtyName'];"
              (click)="onSelectSpecialty(row)">
          </tr>

        </table>

        <div *ngIf="filteredSpecialties?.length === 0" class="text-center p-3">
          No specialties found
        </div>
      </div>

    </div>
  </mat-tab>

  <!-- TAB 2: SPECIALITY DETAILS -->
<mat-tab label="Speciality Details" [disabled]="!detailsTabEnabled">

<div class="p15" *ngIf="selectedSpecialty; else noData">

  <p><b>Name:</b> {{ selectedSpecialty.SpecialtyName }}</p>
  <p><b>Rate:</b> ₹ {{ selectedSpecialty.RateAmount }}</p>

  <p><b>Description:</b></p>
  <p class="text-muted">{{ selectedSpecialty.Description }}</p>

  <p><b>Body Function:</b> {{ selectedSpecialty.BodyFunction }}</p>

  <p><b>Body Parts:</b></p>
  <ul>
    <li *ngFor="let part of selectedSpecialty.BodyParts?.split(',')">
      {{ part }}
    </li>
  </ul>

</div>

<ng-template #noData>
  <div class="text-center p-3">
    Select a specialty to view details
  </div>
</ng-template>


</mat-tab>

</mat-tab-group>